.newton{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.ball {
  z-index: -1; 
  float: left; 
  position: relative;
  margin-top: 100px; 
  width: 50px; 
  height: 50px;
  background: red;
  border-radius: 100%; 
  transform-origin: 50% -100px;
}
.ball::after {
  content: ''; 
  position: absolute;
  top: -100px; 
  left: 24px; 
  height: 100px; 
  width: 2px; 
  background: black;
}

.ball:nth-child(1) {
  animation: ball1 0.5s infinite alternate 0.5s ease-out;
}
.ball:nth-child(5) {
  animation: ball5 0.5s infinite alternate ease-out;
}

@keyframes ball1 {
  0%, 50% {
    transform: rotate(0);
  } 
  100% {
    transform: rotate(30deg);
  }
}
@keyframes ball5 {
  0%,50% {
    transform: rotate(0);
  }
   100% {
    transform: rotate(-30deg);
  }
}